body{
text-align: center;
background-color:rgb(159, 108, 255)

}
.grid img{
width: 280px;

}

*{

border: solid;

}

.footer{
display:flex;
justify-content: flex-end;

}

.grid{
    display: flex;
    flex-wrap: wrap;
}

.header{
    display: flex;
    justify-content: space-between;
}

h1{

margin-left: 30px;

}

h2{
    border-color: rgb(252, 154, 252);
  color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}

p{
    border-color: white;
    color: rgb(252, 166, 255);
font-size: 20px;
font-weight: bold;
font-family: 'Pacifico', cursive;
}




























